<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Draw Airdrop</title>
	<style>
		.center {text-align: center}
		.right {text-align: right}
	</style>
</head>
<body>
<h1>Next Draw: <%= drawDate %></h1>
<% if(hadPreviousDraw) {%>
<div>
	<h2>Results of the previous draw on <%= prev_date %></h2>
    Winner: <%= prev_winner_address %><br>
    Winner's referrer: <%= prev_referrer_address %><br>
    Total points: <%= prev_sum %><br>
    Bitcoin hash as source of randomness: <%= prev_bitcoin_hash %><br><br>
</div>
<% } %>
<table>
    <tr>
        <th>Address</th>
        <th>Balance</th>
        <th>Points</th>
        <th>Attested</th>
        <th>Referrer</th>
        <th>Total points of referrals</th>
    </tr>
    <% for(var k in objAddresses) {%>
    <tr>
        <td><a href="https://explorer.byteball.org/#<%= k %>" target="_blank"><%= k %></a></td>
        <td class="right"><%= objAddresses[k].balance %></td>
        <td class="right"><%= objAddresses[k].points %></td>
        <td class="center"><%= objAddresses[k].attested %></td>
        <td><%= objAddresses[k].referrerCode %></td>
        <td class="right"><%= objAddresses[k].totalPointsOfReferrals %></td>
    </tr>
    <% } %>
</table>
<br>
Total balance: <%= total_balance %> GB
Total points: <%= sum %>
</body>
</html>